.container
  %br
  %h3 Our members are:
  %br
  %p Mauricio Jaime - mjboyarov@gmail.com
  %p Roger Gomez - rojotic26@gmail.com
  %p Eddwin Mejia - eddwin@gmail.com
  %br
  %h3 The countries you can search about are:
  %br
  %p Nicaragua
  %p El Salvador
  %p Costa Rica
  %p Guatemala
  %p Panama
  %p Belice
  %p Honduras
