.copyright
  Code at Github: <a class=lightlink href='https://github.com/rojotic26/jobhuntersWS.git'> SOA - jobhuntersWS </a>
  %br
  Created by: Roger Gomez <a class=lightlink href='https://github.com/rojotic26'>rojotic26</a> , Edwin Mejía <a class=lightlink href='https://github.com/eddwin'>eddwin</a> & Mauricio Jaime <a class=lightlink href='https://github.com/mjboyarov'>mjboyarov</a>
  %br
  Powered by:
  %br
<img src="../public/logo.png" alt="Tecoloco.com" style="width:260px;height:89px">
