#header_wrapper
  %nav{:id => 'menu'}
    %ul
      - if current_page?
        %li{:class => "current_page_item"}
          %a{:href => '/', :id => 'home'} Home
      - else
        %li
          %a{:href => '/', :id => 'home'} Home
      - if current_page?('joboffers')
        %li{:class => 'current_page_item'}
          %a{:href => '/joboffers', :id => 'joboffers'} Job Offers
      - else
        %li
          %a{:href => '/joboffers', :id => 'joboffers'} Job Offers
      - if current_page?('aboutus')
        %li{:class => 'current_page_item'}
          %a{:href => '/aboutus', :id => 'aboutus'} About Us
      - else
        %li
          %a{:href => '/aboutus', :id => 'aboutus'} About Us
